$defaultFont: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
$blackColor: #171718;
$beigeColor: #e3d9c6;
$grayColor: #d1d1d1;
$redColor: rgb(245, 56, 56);

body {
  background-color: $beigeColor;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  font-family: $defaultFont;
  .heading {
    letter-spacing: 2px;
  }
  .textarea {
    width: 100%;
    resize: none;
    font-size: 18px;
  }
  .keyboard {
    width: 100%;
    margin-top: 10px;
    padding: 5px 5px 0 0;
    border: solid $blackColor 2px;
    background-color: $grayColor;
    border-radius: 5px;
    .keyboard__keyRow {
      display: flex;
      margin-bottom: 5px;
      .keyboard__key {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 43px;
        height: 43px;
        margin-left: 5px;
        border-radius: 3px;
        background-color: $blackColor;
        transition: 0.2s;
        &:hover {
          background-color: $redColor;
        }
        &:active {
          box-shadow: 0 0 7px 1px $redColor;
          transform: scale(0.95);
        }
        cursor: pointer;
        .keyboard__character,
        .keyboard__shiftCharacter {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 20px;
          color: $beigeColor;
        }
        //css mod for characters
        .keyboard__character_disable,
        .keyboard__shiftCharacter_disable {
          display: none;
        }
      }
      //css mod for keyboard__key
      .keyboard__key_fullGrow {
        flex-grow: 1;
      }
      .keyboard__key_mediumGrow {
        flex-grow: 0.85;
      }
      .keyboard__key_littleGrow {
        flex-grow: 0.036;
      }
      .keyboard__key_active {
        background-color: $redColor;
        box-shadow: 0 0 7px 1px $redColor;
        transform: scale(0.95);
      }
    }
  }
  .osInfo {
    font-size: 18px;
  }
}
